# maven ignore
target/
**/WEB-INF/classes/
*.jar
*.war
*.zip
*.tar

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
logs/
*.doc
*.log
*.tar.gz
*.cache
*.diff
*.patch
*.tmp
*.versionsBackup
*.MF
**/node_modules
# system ignore
.DS_Store
Thumbs.db
